doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Residences
        p
            a(href="/update-cobj") Add/Update this table
        table 
            tr 
                th Name 
                th Street Address 
                th Access Instructions 
            each residence in data
                tr 
                    td #{residence.properties.name}
                    td #{residence.properties.street_address}
                    td #{residence.properties.access_instructions} 